* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
	text-align: center;
	padding: 20px;
	margin-bottom:10px;
	font-size: 20px;
	background-color: black;
	color: rgb(92, 7, 111);
	text-decoration: underline;
	text-decoration-color: white;
	text-shadow:
	-1px -1px 0 #fff,  
	1px -1px 0 #fff,
	-1px 1px 0 #fff,
	1px 1px 0 #fff;
	
}

header p{
	font-size: 15px;
}

body {
    background-image: url(../assets/images/mainpageBackground.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
.wrapper {
	position: center;
	width: 420px;
	background: transparent;
	border: 2px rgba(255, 255, 255, .2);
	backdrop-filter: blur (20px);
	background-color: purple;
	border-radius: 10px;
	padding: 30px 40px; 
}

form{
	flex-direction: column;
}
